
@import url('https://fonts.googleapis.com/css2?family=Butcherman&family=Roboto:wght@100&display=swap');


html, body{
  height: 100%;  
  width: 100%;
}

body{
    font-family: 'Butcherman', cursive;
    font-size: 25px;
    color: rgb(68, 141, 68);
    background: black;
}
