html, body{
    height: 100%;
    width: 100%;
}

/* .yellow{
    background-color: yellow;
    color: white;
}

.red{
    background-color: red;
    color: white;
}

.text-dark{
    color: black;
} */

/* ps Q5 */
.bulb{
    
    background: yellow;
}

.bulbcontainer{
   height: 341px;
    width: 341px;
}